@tailwind base;
@tailwind components;
@tailwind utilities;



.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}




.ShowProduct .swiper-wrapper{
  padding-top:20px ;
}


 .ShowProduct .swiper-button-prev , .ShowProduct .swiper-button-next {
    position: absolute;
    top: 5% !important;
    z-index: 10;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}



.FeedbackSection .swiper-button-prev , .swiper-button-next {
  top: 50% !important;
}



